<?xml version="1.0"?>

<robot name="chargepal_common" xmlns:xacro="http://ros.org/wiki/xacro">

  <!--                                               -->
  <!-- ////////// ChargePal common macros ////////// -->
  <!--                                               -->
  
  <xacro:macro name="chargepal_virtual_link" params="link_name">
    <link name="${link_name}"/>
  </xacro:macro>

  <xacro:macro name="chargepal_virtual_joint" params="joint_name type parent child joint_axis_xyz joint_origin_xyz joint_origin_rpy joint_lower_limit joint_upper_limit">
    <joint name="${joint_name}" type="${type}">
      <parent link="${parent}"/>
      <child link="${child}"/>
      <axis xyz="${joint_axis_xyz}"/>
      <xacro:unless value="${type == 'fixed'}">
        <limit effort="2000" velocity="1" lower="${joint_lower_limit}" upper="${joint_upper_limit}"/>
      </xacro:unless>
      <origin xyz="${joint_origin_xyz}" rpy="${joint_origin_rpy}"/>
    </joint>
  </xacro:macro>

</robot>