<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="fix_rod">

  <xacro:macro name="fix_rod_macro" params="prefix rod_diameter">
    
    <!-- ############### FIX PLUG ################ -->
    <xacro:include filename="$(find chargepal_tools)/urdf/rod.urdf.xacro" />

    <link name="world"/>
    <xacro:rod_tool parent="world" prefix="${prefix}" diameter="${rod_diameter}" />

  </xacro:macro>

</robot>