<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="fix_rod">

  <xacro:macro name="fix_rod_macro" params="prefix rod_diameter">
    
    <!-- ############### FIX PLUG ################ -->
    <xacro:include filename="$(find chargepal_tools)/urdf/rod.urdf.xacro" />

    <link name="world"/>
    <xacro:rod_tool parent="world" prefix="${prefix}" diameter="${rod_diameter}" />

    <!-- Add three (for each axis) additional virtual frames for reward calculation -->
    <xacro:chargepal_virtual_joint
        joint_name="${prefix}virt_tool_frame_x_joint" 
        type="fixed"
        parent="${prefix}plug_reference_frame"
        child="${prefix}virt_tool_frame_x"
        joint_axis_xyz="0 0 0"
        joint_origin_xyz="1 0 0"
        joint_origin_rpy="0 0 0"
        joint_lower_limit="0"
        joint_upper_limit="0"
    />
    <xacro:chargepal_virtual_link link_name="${prefix}virt_tool_frame_x" />

    <xacro:chargepal_virtual_joint
        joint_name="${prefix}virt_tool_frame_y_joint" 
        type="fixed"
        parent="${prefix}plug_reference_frame"
        child="${prefix}virt_tool_frame_y"
        joint_axis_xyz="0 0 0"
        joint_origin_xyz="0 1 0"
        joint_origin_rpy="0 0 0"
        joint_lower_limit="0"
        joint_upper_limit="0"
    />
    <xacro:chargepal_virtual_link link_name="${prefix}virt_tool_frame_y" />

    <xacro:chargepal_virtual_joint
        joint_name="${prefix}virt_tool_frame_z_joint" 
        type="fixed"
        parent="${prefix}plug_reference_frame"
        child="${prefix}virt_tool_frame_z"
        joint_axis_xyz="0 0 0"
        joint_origin_xyz="0 0 1"
        joint_origin_rpy="0 0 0"
        joint_lower_limit="0"
        joint_upper_limit="0"
    />
    <xacro:chargepal_virtual_link link_name="${prefix}virt_tool_frame_z" />

  </xacro:macro>

</robot>