<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="tdt_plug_model">

  <!-- Macros -->
  <xacro:include filename="$(find chargepal_description)/urdf/utils/chargepal_material.urdf.xacro" />
  <xacro:include filename="$(find chargepal_description)/urdf/utils/chargepal_inertial.urdf.xacro" />
  <xacro:include filename="$(find chargepal_description)/urdf/utils/chargepal_common.urdf.xacro" />

  <!-- Resolve prefix variable (useful for multi robot) -->
  <xacro:include filename="$(find chargepal_description)/urdf/utils/prefix.urdf.xacro" />

  <!-- Estimated properties for inertial calculation -->
  <xacro:property name="plug_mass" value="0.200" />
  <xacro:property name="plug_radius" value="0.0315" />
  <xacro:property name="plug_length" value="0.065" />
  <xacro:property name="plug_border_length" value="0.020" />
  <xacro:property name="mesh_scale" value="0.99" />

  <xacro:macro name="tdt_plug" params="parent prefix">

    <joint name="${prefix}plug_root_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}plug_root"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <link name="${prefix}plug_root">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://chargepal_tools/plugs/meshes/visual/tdt_plug_visual.obj" scale="${mesh_scale} ${mesh_scale} ${mesh_scale}"/>
        </geometry>
        <xacro:insert_block name="material_field_green" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://chargepal_tools/plugs/meshes/collision/tdt_plug_collision.obj" scale="${mesh_scale} ${mesh_scale} ${mesh_scale}"/>
        </geometry>
      </collision>
      <xacro:inertial_cylinder radius="${plug_radius}" length="${plug_length}" mass="${plug_mass}">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:inertial_cylinder>
    </link>

    <!-- virtual reference frame -->
    <xacro:chargepal_virtual_joint 
      joint_name="${prefix}plug_joint" 
      type="fixed"
      parent="${prefix}plug_root"
      child="${prefix}plug"
      joint_axis_xyz="0 0 0"
      joint_origin_xyz="0 0 ${plug_border_length}"
      joint_origin_rpy="0 0 0"
      joint_lower_limit="0"
      joint_upper_limit="0"
    />
    <xacro:chargepal_virtual_link link_name="${prefix}plug" />

    <gazebo reference="plug_root">
      <material>Gazebo/Blue</material>
    </gazebo>

  </xacro:macro>

</robot>