<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur10e">

  <!-- resolve prefix variable (useful for multi robot) -->
  <xacro:include filename="$(find chargepal_description)/urdf/utils/prefix.urdf.xacro" />

  <!-- ur10e arm without ros control-->
  <xacro:include filename="$(find chargepal_description)/urdf/ur_arm/ur10e.urdf.xacro" />

  <!-- ros control -->
  <!-- <xacro:include filename="$(find chargepal_description)/urdf/utils/common.gazebo.xacro" /> -->
  <!-- <xacro:controller_plugin_gazebo robot_namespace=""/> -->

  <!-- ############### Bota Systems SensONE FT SENSOR-->
  <xacro:include filename="$(find rokubimini_description)/urdf/BFT_SENS_ECAT_M8.urdf.xacro" />

  <xacro:BFT_SENS_ECAT_M8 prefix="${prefix}ft_sensor" />

  <joint name="ur_to_sensor" type="fixed">
    <parent link="${prefix}tool0" />
    <child link="${prefix}ft_sensor_mounting" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
