<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur10">

  <!-- resolve prefix variable (useful for multi robot) -->
  <xacro:include filename="$(find chargepal_description)/urdf/utils/prefix.urdf.xacro" />

  <!-- arm base, orange block/mount for ur5 or ur10 arm -->
  <xacro:include filename="$(find chargepal_description)/urdf/environment/stand.urdf.xacro" />

  <!-- ur10 arm without ros control-->
  <xacro:include filename="$(find chargepal_description)/urdf/ur_arm/ur10.urdf.xacro" />

  <!-- attach "arm" and "arm base" -->
  <joint name="${prefix}arm_base_to_arm" type="fixed">
    <parent link="${prefix}arm_base" />
    <child link="${prefix}ur10_base_link" />
    <origin xyz="0 0 1.0" rpy="0 0 0" />
  </joint>

  <!-- ros control -->
  <xacro:include filename="$(find chargepal_description)/urdf/utils/common.gazebo.xacro" />
  <xacro:controller_plugin_gazebo robot_namespace=""/>

</robot>
