<?xml version="1.0"?>
<launch>
  <!-- select a robot, see Readme.md for options -->
  <arg name="robot_name" default="$(optenv ROBOT ur5_on_stand)" />

  <!-- upload robot urdf model to param server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find chargepal_description)/urdf/$(arg robot_name).urdf.xacro'" />

  <!-- run joint state publisher gui, robot state publisher and rviz -->
  <include file="$(find chargepal_description)/launch/test_urdf.launch" />

</launch>
